<ion-view view-title="{{session.name}}" ng-cloak>
    <ion-nav-buttons side="left">
      <button class="button-clear" ng-click="history.goBack()" style="color:white">
        <i class="ion-arrow-left-c"></i> {{history.backTitle()}}
      </button>
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-divider">
                Meeting Detalis
            </div>
            <div class="item item-thumbnail-left item-button-right">
                <img ng-src="{{session.decks[0].thumb}}">
                <p><strong>Date:&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160</strong>{{session.date | date:"MM/dd/yyyy"}}</p>  
                <p><strong>Time:&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160</strong>{{session.time | date:"h:mma"}}</p>  
                <p><strong>Organizer:</strong>    
                    {{session.organizer.firstName}} {{session.organizer.lastName}}</p>
                <p ng-if="session.bridge && !isMobile"><strong>Dial in: </strong>&#160&#160&#160&#160&#160&#160{{session.bridgeNumber}}</p>  
                <p ng-if="session.bridge && isMobile"><strong>Dial in: </strong>&#160&#160&#160&#160&#160&#160<a href="tel:{{session.bridgeNumber}},,,{{session.confId}}#">{{session.bridgeNumber}}</a></p>  
                <p><strong>meeting id: </strong>    {{session.ufId}}</p>
                <p ng-if="!bridgeService.activeBridge()"
                   class="notice">Join to Open Bridge</p>
                <p ng-if="bridgeService.activeBridge()"
                   class="advise">Bridge is Open</p>
                <button class="button button-positive"
                        ng-click="go(session._id,0)">
                    Join
                </button>
            </div>
            <div class="item item-divider">
                Attendees
            </div>
            <div class="item" >
                <span><strong>Organizer: </strong>{{session.organizer.firstName}} {{session.organizer.lastName}}</span><br>
                <span ng-repeat="attendee in session.attendees">
                {{attendee.firstName}} {{attendee.lastName}}  e: {{attendee.email}} <br>
                </span>
            </div>
            <div class="item item-body">
                {{session.description}}
            </div>
        </div>
        
    </ion-content>
</ion-view>
