<div parent-height top=125 ng-controller="attendeesCtrl">
    <ion-content>
        <div class="centered-container">
            <div class="button-bar">
                <a ng-repeat="view in step.views"
                   class="button" 
                   ng-click="step.setView($index)">{{::view.name}}
                    <img ng-if="view.img!=undefined"
                         ng-src={{view.img}}
                         style="height:20px;margin-bottom:-5px"></a>
            </div>
        <!--Invitees -->
        <div class="revu-list-header calm-bg"
             ng-show="step.currentView==0">
            <button class="button button-icon icon ion-minus-circled revu-list-button revu-left"
                    ng-click="step.toggleShowDelete()"></button> 
                Invitees
            <button class="button button-icon icon ion-plus-circled revu-list-button revu-right"
                    ng-click="step.addUserPopup()"></button>
        </div> 
        <ion-scroll direction="y" parent-height top=225 ng-show="step.currentView == 0">
        <ion-list  show-delete="step.showDelete">
            <ion-item ng-repeat="attendee in step.attendees" class="item" >
                <p>{{::attendee.firstName}} {{::attendee.lastName}} <b>|</b> {{::attendee.email}} </p>
                <ion-delete-button class="ion-minus-circled" 
                                   ng-click="step.delUser($index); $event.stopPropogation();"
                                   ng-show="step.showDelete">
                </ion-delete-button>
            </ion-item>
        </ion-list>
        </ion-scroll>
        <!-- Teams -->
        <ion-scroll direction="y" parent-height top=225 ng-show="step.currentView == 1">
            <ion-list >
                <ion-item ng-repeat="team in teams" class="item-checkbox" >
                    <label class="checkbox">
                        <input ng-model="team.included" 
                               ng-change="step.teamChange($index)"
                               type="checkbox">
                    </label
                        <h2> {{::team.name}} </h2>
                        <p>Total Members: {{::team.members.length}}</p>
                </ion-item>
            </ion-list>
        </ion-scroll>
        <!-- salesforce -->
        <ion-list ng-show="step.currentView==2" >
            <ion-item ng-repeat="item in step.sfdcItems" class="item" >
                <p>{{::item.Name}} </p>
            </ion-item>
        </ion-list>

        </div>
    </ion-content>
</div>