<div parent-height ng-controller="attendeesCtrl">
    <ion-content>
        <div class="centered-container">
            <div class="button-bar">
                <a ng-repeat="view in step.views"
                   class="button" 
                   ng-click="step.setView($index)">{{::view.name}}</a>
            </div>
        <!--Invitees -->
        <div class="revu-list-header calm-bg"
             ng-show="step.currentView==0">
            <button class="button button-icon icon ion-minus-circled revu-list-button revu-left"
                    ng-click="step.toggleShowDelete()"></button> 
                Invitees
            <button class="button button-icon icon ion-plus-circled revu-list-button revu-right"
                    ng-click="step.toggleShowAdd()"></button>
        </div> 
        <form name="userForm" nonvalidate
              ng-show="step.showAdd && step.currentView == 0">
            <ion-list >
                  <ion-item class="item" style="padding:0px">
                  <label class="item-input item-floating-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name"
                           ng-model=step.firstName
                           required>
                  </label>
                  </ion-item>
                      <ion-item class="item" style="padding:0px">
                  <label class="item-input item-floating-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name"
                           ng-model=step.lastName
                           required>
                  </label>
                  </ion-item>
                  <ion-item class="item" style="padding:0px">
                  <label class="item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email"
                           ng-model=step.email
                           required>
                  </label>
                  </ion-item>
                  <button class="button button-assertive"
                          ng-click="step.toggleShowAdd()">Close</button>
                  <button class="button button-calm"
                          ng-click="step.addUser()"
                          ng-disabled = !userForm.$valid>Add Invitee
                 </button>
            </ion-list>
        </form>
        <ion-list   ng-show="step.currentView==0"
                    show-delete="step.showDelete">
            <ion-item ng-repeat="attendee in step.attendees" class="item" >
                <p>{{::attendee.firstName}} {{::attendee.lastName}} <b>|</b> {{::attendee.email}} </p>
                <ion-delete-button class="ion-minus-circled" 
                                   ng-click="step.delUser($index); $event.stopPropogation();"
                                   ng-show="step.showDelete">
                </ion-delete-button>
            </ion-item>
        </ion-list>
        <!-- Teams -->
        <ion-list ng-show="step.currentView==1" >
            <ion-item ng-repeat="team in teams" class="item-checkbox" >
                <label class="checkbox">
                    <input ng-model="team.included" 
                           ng-change="step.teamChange($index)"
                           type="checkbox">
                </label
                    <h2> {{::team.name}} </h2>
                    <p>Total Members: {{::team.members.length}}</p>
            </ion-item>
        </ion-list>
        <!-- salesforce -->
        <ion-list ng-show="step.currentView==2" >
            <ion-item ng-repeat="item in step.sfdcItems" class="item" >
                <p>{{::item.Name}} </p>
            </ion-item>
        </ion-list>

        </div>
    </ion-content>
</div>