
<ion-view view-title="Revu.Me Demo">
  <ion-content ng-class="{'dark-bg':isMobile}">

    <div class="centered-container"  >
    <div class="row row-center">
        <div class="col col-10">
        </div>
    <div class="col col-80 ">
     <!--   <img ng-src="{{image}}" class="splash-image"> -->
        <div class="centered-container hero-container positive-bg" elem-height="0.20">
              <h3 class="hero-welcome">Welcome Batman </h3> 
        </div>
    </div>
        <div class="col col-10">
        </div>    
    </div>
    <div class="row row-center">
        <div class="col col-10">
        </div>
        <div class="col col-80">
            <div class="centered-container user_list">
            
          <ion-list>
              <div class="item item-divider">
                Utility Belt
              </div>
              <ion-item ng-repeat="action in utility.actions"
                        ng-click="action.action()">
                <h2>{{action.name}}</h2>
              </ion-item>
          </ion-list>    
            </div>
        </div>
        <div class="col col-10">
        </div>        
    </div>
    </div>
  </ion-content>
</ion-view>
