  <ion-modal-view>
    <ion-header-bar class="bar-dark">
      <h1 class="title">New Session</h1>
        <div class="buttons">
          <button class="button button-clear button-light" ng-click="sb.defer.pop().reject()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form name="sessionForm">
        <div class="lib-list-header volerro-green">
            <div class="lib-list-header-button lib-header-left">
                <i class="icon ion-minus-circled" ng-click="toggleListDelete('sb')"></i>
            </div>
            Add or Remove Decks
            <div class="lib-list-header-button lib-header-right">
                <i class="icon ion-plus-circled" ng-click="sb.subEdit()"></i>
            </div>
        </div> 
            <ion-list show-delete="shouldShowDelete" delegate-handle="sb" >
              <ion-item ng-repeat="deck in sb.session.decks" 
                        class="item item-thumbnail-left">
                <ion-delete-button class="ion-minus-circled" 
                               ng-click="sb.delDeck($index)"></ion-delete-button>
                <img class=thumb-small ng-src="{{deck.thumb}}" alt="New" class="alt">
                <h2>{{deck.name}}</h2>
                    <p>{{deck.user.firstName}} {{deck.user.lastName}}</p>
                    <p>{{deck.createdDate | date:"MM/dd/yyyy  h:mma"}}</p>
              </ion-item>
            </ion-list>
              <label class="item item-input">
                <input type="text" name="sName" ng-model="sb.session.name" placeholder="Session Name" required>
              </label>
              <label class="item item-input">
                <input type="text" ng-model="sb.session.description" placeholder="Description">
              </label>
              <label class="item item-input">
                <input type="Date" name="date" ng-model="sb.session.date" placeholder="Date" required>
              </label>
              <label class="item item-input">
                <input type="Time" name="time" ng-model="sb.session.time" placeholder="Time" required>
              </label>
            </div>
                <div class="list">
                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                          <input type="text" name="aName" 
                                 ng-model="sb.session.formname" placeholder="Attendee Name">
                        </label>
                        <label class="item-input-wrapper">
                          <input type="email" name="aEmail" 
                                 ng-model="sb.session.formemail" placeholder="Attendee Email">
                        </label>
                        <button class="button button-small"
                                ng-click="sb.addAttendee()" 
                                ng-disabled="!sessionForm.aName.$dirty || !sessionForm.aEmail.$dirty 
                                             || sessionForm.aEmail.$invalid">
                          add
                        </button>
                    </div>
                </div>
            <div class="list">
                <div class="item item-divider">
                    Attendees
                </div> 
                <div class="list">
                    <div ng-repeat="attendee in sb.session.attendees" class="item item-icon-left" >
                        <i class="icon ion-minus-circled " style="font-size:95%" ng-click="sb.delAttendee($index)">
                        <p class="padding-left">{{sb.session.attendees[$index].name}}     {{sb.session.attendees[$index].email}}</p>         
                        </i>

                    </div>
                </div>
                <div class="item item-checkbox">
                     <label class="checkbox">
                       <input ng-model="sb.session.bridge" type="checkbox">
                     </label>
                     conference bridge
                </div>
            </div>

            <div class="centered-container">
                 <button class="button button-positive" ng-click="sb.defer.pop().resolve()" 
                         ng-disabled="sessionForm.$invalid">
                    OK
                </button>
                <button class="button padding-left button-stable" ng-click="sb.defer.pop().reject()">
                    Cancel
                </button>          
            </div>
            <div class="centered-container">
                <p ng-show="sessionForm.sName.$invalid">Session Name is Required</p>
                <p ng-show="sessionForm.date.$invalid">Session Date is Required</p>
                <p ng-show="sessionForm.time.$invalid">Session Time is Required</p>            
            </div>

        </form>
      
    </ion-content>
  </ion-modal-view>
