
<ion-view view-title="Change Card">
  <ion-content class="presentation-background">
   <div ng-class="{'row row-center':!smallScreen()}">
        <div ng-class="{'col col-10':!smallScreen()}">
        </div>
        <div  ng-class="{'col col-80':!smallScreen()}">
            <div class="centered-container account-list" style="background:white;padding-bottom:30px">
              <ion-item ng-if="showCardEntry">
                   <h2>Current Card: <img ng-src="{{script.defaultMethod.imageUrl}}"
                                          style="width:30px"/> {{script.defaultMethod.cardType}} ending in {{script.defaultMethod.last4}}</h2>
              </ion-item>
              <ion-item>
                <form ng-if="showCardEntry">
                    <braintree-dropin options="dropinOptions">
                        Loading payment form...
                    </braintree-dropin>
                    <div>
                        <button class="button button-small button-positive" 
                                style="margin-top:5px"
                                type="submit">
                          Change Card
                        </button>
                        <button class="button button-small button-stable" 
                            style="margin-top:5px"
                            ng-click="cancel()">
                         Cancel
                        </button>
                    </div>
                    <span ng-if="status.errors!=undefined" class="assertive">{{status.errorMessage}}</span>
                    <p ng-if="status.errors==undefined">{{status.message}}</p>
                </form>
                </ion-item>
                <ion-item>
                    <p ng-if="status.errors==undefined">{{status.message}}</p>
                </ion-item>
            </div>
    
        <div ng-class="{'col col-10':!smallScreen()}">
        </div> 

  </ion-content>
</ion-view>
