<div parent-height top=125 ng-controller="datetimeCtrl">
<div class="centered-container wizard-content">
    <h3 style="color:white">Title and Description</h3>
    <div class="list" style="margin-bottom:10px">
      <label class="item item-input">
        <input ng-model="step.name" 
               ng-change="step.changeName()"
               type="text" placeholder="Title">
      </label>
      <label class="item item-input" style="margin-top:10px">
        <input ng-model="step.description" 
               ng-change="step.changeDescription()"
               type="text" placeholder="Description">
      </label>
    </div>
    <h3 style="color:white;margin-top:0px">What Date and Time?</h3>
    <div style="display:block;width:100%;margin-top:15px">
        <ionic-datepicker input-obj="step.datepickerObject">
         <i class="icon ion-calendar" 
            style="display:inline;color:white;font-size:28px;margin-right:10px"></i>
  
          <button class="button button-calm button-large" style="min-height:30px;line-height:30px;color:black;width:140px"> {{step.datepickerObject.inputDate | date:'MM/dd/yyyy'}}</button>
        </ionic-datepicker>
    </div>
  <div style="display:block;width:100%;margin-top:15px;margin-bottom:15px">
    <ionic-timepicker input-obj="step.timePickerObject">
         <i class="icon ion-clock" 
            style="display:inline;color:white;font-size:28px;margin-right:10px"></i>
        <button class="button button-large button-calm overflowShow" 
                  style="min-height:30px;line-height:30px;color:black;font-weight:normal;width:140px">
            <standard-time-meridian etime='step.timePickerObject.inputEpochTime'></standard-time-meridian>
        </button>
    </ionic-timepicker>
    </div>
    <div style="display:inline">
    <h4 style="display:inline;color:white;margin-right:15px">Length (min)</h4>
    <select ng-model="session.length">
        <option ng-repeat="l in session.lengthOptions">{{l}}</option>
    </select>
    </div>
  <div style="margin-top:7px">
     <h3 style="color:white;display:inline-block;line-height:23px;vertical-align:text-bottom">Conference Bridge?</h3>
     <label class="toggle toggle-calm" style="display:inline-block;margin-left:10px;vertical-align:text-bottom">
       <input ng-model="step.bridge" 
              type="checkbox"
              ng-change="step.changeBridge()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    </div>


</div>
</div>