
<ion-view view-title="Revu.Me">
  <ion-content ng-class="{'dark-bg':isMobile}">

    <div class="centered-container"  >
    <div class="row row-center">
        <div class="col col-10">
        </div>
    <div class="col col-80 ">
     <!--   <img ng-src="{{image}}" class="splash-image"> -->
        <div class="centered-container hero-container positive-bg" elem-height="0.50">
              <h3 class="hero-welcome">Thank You {{user.firstName}} </h3> 
              <h3 class="hero-welcome">Your Email is Confirmed</h3>
        </div>
    </div>
        <div class="col col-10">
        </div>    
    </div>
   
    </div>
  </ion-content>
</ion-view>
