<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">{{fileNavigator.active.name}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="fileNavigator.hide()">Close</button>
    </div>
  </ion-header-bar>
  <ionc-header-bar class="bar bar-subheader">
    <ion-scroll direction="x" 
                class="path-scroll"
                delegate-handle="path">
        <span ng-click="fileNavigator.active.showRoot()">
            Path:&nbsp {{fileNavigator.active.root}}
        </span>
        <span path-to-links 
              ng-model="fileNavigator.active.folders"
              on-Change="fileNavigator.active.showFolder">
        </span>
    </ion-scroll>
 </ionc-header-bar>
  <ion-content class="has-header has-subheader" delegate-handle="fileNavigator">
      <div ng-if="fileNavigator.active.name == 'Dropbox'">
        <ion-list >
            <ion-item ng-repeat="file in fileNavigator.active.folders.data"
                      ng-click="fileNavigator.active.select($index)"
                      ng-class="{'item-icon-left':file.is_dir||!file.thumb_exists,'item-thumbnail-left':!file.is_dir&&file.thumb_exists}">
                <i ng-if="file.is_dir"
                   class="icon ion-folder positive"></i>
                <img ng-if="file.thumb_exists" style="box-shadow:5px 5px 5px #888888"
                     ng-src="{{file.thumb}}">
                <i ng-if="!file.is_dir&&!file.thumb_exists &&!file.is_empty"
                   class="icon ion-document calm"></i>
                <i ng-if="file.is_empty"
                   class="icon ion-alert assertive"></i>
                <h3>{{file.name}}</h3>
                <p ng-if="!file.is_empty">Type: {{file.type}}</p>
            </ion-item>
        </ion-list>
    </div>
      <div ng-if="fileNavigator.active.name == 'Box'">
        <ion-list >
            <ion-item ng-repeat="file in fileNavigator.active.folders.item_collection.entries"
                      ng-click="fileNavigator.active.select($index)"
                      ng-class="{'item-icon-left':file.type == 'folder' || file.type!='folder'}">
                <i ng-if="file.type == 'folder'"
                   class="icon ion-folder positive"></i>
                <img ng-if="file.thumb" style="box-shadow:5px 5px 5px #888888"
                     ng-src={{file.thumb}}>
                <i ng-if="file.type != 'folder'&&!file.is_empty"
                   class="icon ion-document calm"></i>
                <i ng-if="file.is_empty"
                   class="icon ion-alert assertive"></i>
                <h3>{{file.name}}</h3>
                <p ng-if="!file.is_empty">Type: {{file.type}}</p>
            </ion-item>
        </ion-list>
      </div>
      <div ng-if="fileNavigator.active.name == 'Google'">
        <ion-list >
            <ion-item ng-repeat="file in fileNavigator.active.folders.data"
                      ng-click="fileNavigator.active.select($index)"
                       ng-class="{'item-icon-left':file.type == 'folder' || file.type!='folder','item-thumbnail-left':file.thumbnail}">
                <i ng-if="file.type == 'folder'"
                   class="icon ion-folder positive"></i>
                <img ng-if="file.thumbnail" style="box-shadow:5px 5px 5px #888888"
                     ng-src="{{file.thumbnailLink}}">
                <i ng-if="file.type != 'folder'&&!file.thumbnail &&!file.is_empty"
                   class="icon ion-document calm"></i>
                <i ng-if="file.is_empty"
                   class="icon ion-alert assertive"></i>
                <h3>{{file.title}}</h3>
                <p ng-if="!file.is_empty">Type: {{file.type}}</p>
            </ion-item>
        </ion-list>
      </div>
      <div ng-if="fileNavigator.active.name == 'Microsoft'">
        <ion-list >
            <ion-item ng-repeat="file in fileNavigator.active.folders.data"
                      ng-click="fileNavigator.active.select($index)"
                      ng-class="{'item-icon-left':!file.thumbnail,'item-thumbnail-left':file.thumbnail}">
                <i ng-if="file.type == 'folder' || file.type=='album'"
                   class="icon ion-folder positive"></i>
                <img ng-if="file.thumbnail" style="box-shadow:5px 5px 5px #888888"
                     ng-src="{{file.thumbnail}}">
                <i ng-if="file.type !='folder'&&file.type!='album'&&!file.thumbnail &&!file.is_empty"
                   class="icon ion-document calm"></i>
                <i ng-if="file.is_empty"
                   class="icon ion-alert assertive"></i>
                <h3>{{file.name}}</h3>
                <p ng-if="!file.is_empty">Type: {{file.type}}</p>
            </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-modal-view>
