
<div ng-controller="fileNavCtrl" resize>
    <div class="import-header dark-bg">  
        <span>Import From...</span>
    </div>
    <div class="button-bar"
         evaporate
         eva-model="eva.Data"
         ng-model="eva.Inbox"
         ng-if="elWidth>510">
        <a class="button button-light" 
           ng-click="commands.show('Google')"
           google-button></a>
        <a class="button button-light"
           ng-click="commands.show('dropBox')"
           dropbox-button></a>
        <a class="button button-light" 
           ng-click="commands.show('Box')"
           box-button></a>
        <a class="button button-light" 
           ng-click="commands.show('Windows')"
           windows-button></a>
    </div>
    <div class="button-bar"
         evaporate
         eva-model="eva.Data"
         ng-model="eva.Inbox"
         ng-if="elWidth<=510">
        <a class="button button-light" 
           ng-click="commands.show('Google')"
           google-button></a>
        <a class="button button-light"
           ng-click="commands.show('dropBox')"
           dropbox-button></a>
    </div>
    <div class="button-bar"
         evaporate
         eva-model="eva.Data"
         ng-model="eva.Inbox"
         ng-if="elWidth<=510">
        <a class="button button-light" 
           ng-click="commands.show('Box')"
           box-button></a>
        <a class="button button-light" 
           ng-click="commands.show('Windows')"
           windows-button></a>
    </div>
</div>


        