<ion-view view-title="Slide Library">
  <ion-content  class="slideshow-container centered-container">
    <div class="lib-list-header volerro-green">
        <div class="lib-list-header-button lib-header-left">
            <i class="button button-icon ion-chevron-left lib-list-back" ng-click="slideBack()"></i>
        </div>
        {{navItems[selectedNavId].name}}
    </div>
        <add-template template-url="templates/slideItems.html"></add-template>

    </div>
  </ion-content>

 <ion-content slide-right="library::slide" style="background:white">
        <add-template template-url="templates/navItems.html"></add-template>
  </ion-content>  
      

</ion-view>
