<ion-view view-title="Slide Library">
  <ion-content  class="slideshow-container centered-container">
    <div class="lib-list-header volerro-green">
        <div class="lib-list-header-button lib-header-left">
            <i class="icon ion-chevron-left" ng-click="slideBack()"></i>
        </div>
        {{navItems[selectedNavId].name}}
    </div>
        <ng-include src="'../templates/slideItems.html'"></ng-include>
    </div>
  </ion-content>

  <ion-content slide-right="library::slide" style="background:white">
            <ng-include src="'../templates/navItems.html'"></ng-include>

  </ion-content>  
      

</ion-view>
