<ion-view view-title="Slide Library" ng-cloak>

  <ion-content      has-bouncing="false"
                    class="slideshow-container">

    <div class="row ">
        <div class="{{navClass}}">
            <add-template template-url="templates/navItems.html"></add-template>
        </div>
        <div class="{{thumbClass}}">
             <add-template template-url="templates/slideItems.html"></add-template>
        </div>
    </div>

  </ion-content>
    <div class="presence-message dark-bg centered-container" appear-up="show_message">""</div>   
</ion-view>
