<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Session: Presentation:</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
        <div clas="list card">
          <div class="item item-avatar">
            <img src="img/slide1.png">
            <h2>Slide Number</h2>
            <p>Slide Duration</p>
          </div>
        <div class="item">
            <div class="row">
                <div class="col col-50">
                    <button class="button button-balanced">
                      UserName 1
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-assertive">
                      Time On Slide
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <button class="button button-balanced">
                      UserName 2
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-assertive">
                      Time On Slide
                    </button>
                </div>
            </div>
        </div>
    </div>

  </ion-content>
</ion-modal-view>
