<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"
                ng-if="!deepLink">
        </button>
        <a class="button button-icon button-clear ion-home" 
                ng-if="deepLink"
                href="https://www.revu.me">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view style="background-color:transparent" name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar ng-class={'bar-calm':!archive.menu,'bar-stable':archive.menu}>
      <h1 ng-if="!archive.menu" class="title">Menu</h1>
      <h1 ng-if="archive.menu" class="title">Archive</h1>
    </ion-header-bar>
    <ion-content >
      <ion-list>
        <!-- Non-Archive Menu Items -->
        <ion-item ng-if="!archive.menu" nav-clear menu-close href="#/app/settings">
        <i class='ion-gear-b menu-icon dark'></i>{{user.name}}
        </ion-item>
        <ion-item ng-if="!archive.menu" nav-clear menu-close href="#/app/dashboard">
           <i class='ion-compass menu-icon dark'></i>Dashboard
        </ion-item>
        <ion-item nav-clear menu-close ng-if="!archive.menu" ng-click="newMeeting('app.newMeeting')">
          <i class='ion-ios-monitor-outline menu-icon balanced'></i>New Meeting
        </ion-item>
        <ion-item nav-clear menu-close ng-if="smallScreen()&&!archive.menu" href="#/app/mobile/library">
          <i class='ion-ios-paper menu-icon royal'></i>Slide Library
        </ion-item>
        <ion-item nav-clear menu-close ng-if="!smallScreen()&&!archive.menu" href="#/app/library">
          <i class='ion-ios-paper menu-icon royal'></i>Slide Library
        </ion-item>
        <ion-item ng-if="!archive.menu" nav-clear menu-close href="#/app/teams">
          <i class='ion-android-contacts menu-icon positive'></i>Teams
        </ion-item>
        <ion-item ng-if="!archive.menu" nav-clear menu-close href="#/app/sessions">
          <i class='ion-speakerphone menu-icon balanced'></i>Meetings You Lead
        </ion-item>
        <ion-item ng-if="!archive.menu" nav-clear menu-close href="#/app/attendeeSessions">
           <i class='ion-calendar menu-icon calm'></i>Meeting Invitations
        </ion-item>
        <ion-item ng-if="(!archive.menu&&!isMobile) || (!achive.menu && isMobile && showArchive)" nav-clear menu-close ng-click="toggleArchive()">
           <i class='ion-filing menu-icon energized'></i>Archive
        </ion-item>

        <!-- Archive Menu Items -->
        <ion-item ng-if="archive.menu" nav-clear menu-close ng-click="toggleArchive()">
        <i class='ion-arrow-left-b menu-icon dark'></i>Main Menu
        </ion-item>
        <ion-item nav-clear menu-close
                  ng-if="smallScreen()&&archive.menu"
                  href="#/app/mobile/library">
          <i class='ion-ios-paper menu-icon royal'></i>Library
        </ion-item>
        <ion-item nav-clear menu-close
                  ng-if="!smallScreen()&&archive.menu" 
                  href="#/app/library">
          <i class='ion-ios-paper menu-icon royal'></i>Library
        </ion-item>
        <ion-item ng-if="archive.menu" nav-clear menu-close 
                  href="#/app/sessions">
          <i class='ion-speakerphone menu-icon balanced'></i>Past Meetings
        </ion-item>
        <ion-item ng-if="archive.menu" nav-clear menu-close 
                  href="#/app/attendeeSessions">
           <i class='ion-calendar menu-icon calm'></i>Past Invitations
        </ion-item>
        <!-- backdoor menu item for me -->
        <ion-item ng-if="user.email=='klynch@volerro.com' || user.batman" nav-clear menu-close href="#/app/batman">
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
