<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"
                ng-if="!deepLink">
        </button>
        <a class="button button-icon button-clear ion-home" 
                ng-if="deepLink"
                href="http://revu.me">
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/settings">
        {{user.name}}
        </ion-item>
        <ion-item nav-clear menu-close ng-if="smallScreen()" href="#/app/mobile/library">
          Library
        </ion-item>
        <ion-item nav-clear menu-close ng-if="!smallScreen()" href="#/app/library">
          Library
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/teams">
          Teams
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/sessions">
          Meetings You Lead
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/attendeeSessions">
          Meeting Invitations
        </ion-item>
        <ion-item ng-if="user.email=='klynch@volerro.com' || user.batman" nav-clear menu-close href="#/app/batman">

        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
