
            <div class="lib-list-header">
                <div class="button-bar bar-positive">
                  <a class="button" 
                     ng-click="setModel('files')" 
                     ng-class="{'tab-selected': modelName=='files'}">Files</a>
                  <a class="button" 
                     ng-click="setModel('categories')" 
                     ng-class="{'tab-selected': modelName=='categories'}">Categories</a>                  
                  <a class="button" 
                     ng-click="setModel('decks')"
                     ng-class="{'tab-selected': modelName=='decks'}">Decks</a>
                </div>
            </div>            
            <div class="revu-list-header calm-bg">
            <button ng-if="archiveOn()"
                    class="button button-icon icon ion-minus-circled revu-list-button revu-left"
                    ng-click="toggleListDelete()"></button>
                <p  class="sub-title"
                    ng-if="modelName=='decks'&&smallScreen()">(options:swipe left)</p>   
                {{listName}}
            <button class="button button-icon icon ion-plus-circled revu-list-button revu-right"
                    ng-click="toggleNavAdd()"
                    ng-if="!archiveOn()"></button>
                </div>
            </div> 
            <div ng-show="eva.Data.ready && modelName=='files'">
                <file-box close-on-select="false"></file-box>
            </div>
            <div ng-show="showAddItem" >
                <div ng-switch on="modelName">
                    <div ng-switch-when='files'>

<!------evaporate testing------------->
                        <div ng-show="eva.Data.ready">
                            <div class="flow-drop-zone centered-container" 
                                 drag-enter="class='flow-drag-enter'" 
                                 drag-leave="class='flow-drag-leave'" 
                                 evaporate 
                                 eva-model="eva.Data"
                                 ng-model="eva.Inbox"
                                 ng-class="class"
                                 ng-if="!device.IOS() && !device.isIPad() && !device.isAndroid() && !device.isWindowsPhone()">
                                <p>Drop your file(s) here</p>     
                            </div>
                                    <!--ion-spinner icon="ios" class="upload-spinner" ng-if="file.spinner" ></ion-spinner--> 
                            <ion-list ng-if="library.uploading.files.length > 0">
                                <ion-item ng-repeat="file in library.uploading.files"
                                          class="upload-content"
                                          style="min-height:70px"
                                          ng-cloak>
                                    <ion-spinner icon="ios" class="upload-spinner" ng-if="file.spinner" ></ion-spinner> 
                                    <h2>{{file.name}}</h2>
                                    <p ng-show="file.timeLeft != 0">{{file.timeLeft}} seconds remaining...</p>
                                    <p ng-show="file.message != ''">{{file.message}}</p>
                                    <div ng-show="!file.spinner"
                                         class="progress-bar" 
                                         elem-height="0.01" 
                                         ng-style="{'width':file.progressString}">
                                    </div>
                                </ion-item>
                            </ion-list>
                        </div>
<!---------end evaporate-------------->
                    </div>
                    <div ng-switch-when='categories'>
                        <form name="categoryForm">
                        <div class="list">
                          <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                              <input type="text" ng-model="category.name" placeholder="Category Name:" required>
                            </label>
                            <button ng-click="addCategory()" ng-disabled="categoryForm.$invalid" class="button button-small">
                              Submit
                            </button>
                          </div>
                        </div>
                    </div>
                    <div ng-switch-when='decks'>
                        <form name="deckForm">
                        <div class="list">
                          <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                              <input type="text" name="deckName" 
                                     ng-model="deck.name" placeholder="Deck Name:" required>
                            </label>
                            <button ng-click="addDeck()" 
                                    ng-disabled="deckForm.$invalid" 
                                    class="button button-small">
                              Submit
                            </button>
                          </div>
                        </div>
                        </form>
                    </div>
                </div>                    
            </div>
            <ion-scroll elem-height="0.70" >
              <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()"
                spinner="ripple">
              </ion-refresher>
            <ion-list show-delete="shouldShowDelete">
                <ion-item 
                          ng-repeat="(itemIndex,item) in navItems" 
                          class="item-thumbnail-left" 
                          ng-class="{'item-select':!archiveOn()}"
                          ng-click="setNavSelection($index)">
                        <ion-delete-button ng-if="!archiveOn()"
                                           class="ion-minus-circled" 
                                           ng-click="archiveNavItem($index)"
                                           ng-disabled="!item._$Archive"
                                           style="color:#ffe900">
                        </ion-delete-button>
                        <ion-delete-button ng-if="archiveOn()"
                                           class="ion-minus-circled" 
                                           ng-click="delNavItem($index)"
                                           ng-disabled="!item._$Delete">
                        </ion-delete-button>
                        <img ng-if="item.slides.length != 0"
                             ng-src="{{item.thumb}}"  class="white-background">
                        <h2>{{item.name}}</h2>
                        <p>{{item.user.firstName}} {{item.user.lastName}}</p>
                        <p>{{item.createdDate | date:"MM/dd/yyyy  h:mma"}}</p>  
                        <span ng-if="item.sharingString" class="positive">Sharing:{{item.sharingString}}</span>
                            <select ng-if="!smallScreen() && item.actions.length > 1 && !archiveOn()"
                                    ng-model="item.action.selected"
                                    ng-options="action.name for action in item.actions"
                                    ng-change="item.action.selected.callBack(itemIndex,item.action.selected.idx,$event,'option')"
                                    ng-class="{'edit-color':item.beingEdited}">
                                {{option.callBack}}
                            </select>
                            <div class="buttons">
                            <button ng-if="!smallScreen()&&archiveOn()"
                                    class="button button-energized archive-button"
                                    ng-click="unArchiveNavItem($index,$event)">
                                UnArchive
                            </button>
                            </div>
                            <ion-option-button
                                    ng-repeat="action in item.actions"
                                    ng-model="item.action.selected"
                                    ng-if="smallScreen() && $index!=0 && !archiveOn()"
                                    ng-click="action.callBack(itemIndex,$index,$event,'button')"
                                    class="button ng-class:action.class;">
                                {{action.name}}
                            </ion-option-button>
                            <ion-option-button
                                    ng-if="smallScreen() && archiveOn()"
                                    class="button button-energized"
                                    ng-click="unArchiveNavItem($index,$event)">
                                UnArchive
                            </ion-option-button>
                    <i class="icon ion-plus-circled slide-adder top-corner" 
                       ng-show="isEditing && !showEdit && (selectedNavId == $index) "  
                       ng-click="addAll()"></i>
                    <p  class="top-corner"
                        ng-show="isEditing && !showEdit && (selectedNavId == $index) " >select all</p>
                </ion-item>
            </ion-list>
            </ion-scroll>
        
           <!--    ng-change="option.callBack(itemIndex,$idx,$event,'option')"-->
