<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">{{session.name}}</h1>
    <div class="buttons">
      <button class="button button-clear button-light" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
        <div class="item item-divider">{{session.decks[deckIdx].name}}</div>
        
        <div class="item item-divider"
                    ng-repeat="metric in session.decks[deckIdx].metrics" >
                    {{metric.eventDate| date:"EEEE MM/dd/yyyy  h:mma"}}
        <div class="list card" ng-repeat="sv in metric.slideViews">
            <div class="item item-avatar slide-report-header"
                 ng-if="sv.slideIndex>=0">
                    <img ng-if="session.decks[deckIdx].slides[sv.slideIndex].type == 'img'"
                         ng-src="{{session.decks[deckIdx].slides[sv.slideIndex].src}}" class="no-corners">
                    <img ng-if="session.decks[deckIdx].slides[sv.slideIndex].type == 'video'"
                         ng-src="{{session.decks[deckIdx].slides[sv.slideIndex].poster}}" class="no-corners">
                <h2>Slide Number {{sv.slideIndex+1}}</h2>
                <p>Slide Duration: {{sv.duration | number:2}}(sec)</p>
            </div>
            <div class="item item-avatar slide-report-header"
                 ng-if="sv.slideIndex<0">
                    <img ng-src="{{baseUrl.endpoint}}/img/screenshare.png" class="no-corners">
                <h2>Screen Sharing</h2>
                <p>Duration: {{sv.duration | number:2}}(sec)</p>
            </div>
        <div class="item" >
            <div class="row">
                <div class="col col-50 centered-container">Viewer</div>  
                <div class="col col-50 centered-container">Time on Slide</div>    
            </div>
            <div class="row" ng-repeat="view in sv.views">
                <div class="col col-50 centered-container">
                    {{view.userName}}
                </div>             
                <div class="col col-50 centered-container">
                  {{view.viewed| number:2}}(sec) {{(view.viewed/sv.duration)*100|number:0}}%
                </div>
            </div>
        </div>
        </div>
      </div>

  </ion-content>
</ion-modal-view>
