<ion-modal-view>
    <ion-header-bar class="bar-calm"> <h1 class="title"> Thank You</h1> 
    <div class="buttons">
      <button class="button button-clear" style="color:black" 
              ng-click="signupModal.hide()">Close</button>
    </div>
    </ion-header-bar> 
     <div class="bar bar-subheader">
      <h2 class="title">The Meeting Has Ended</h2>
    </div>
    <ion-content has-subheader="true"> 
                <div class="centered-container hero-container  padding-bottom with-subheader"
                     ng-class="{'rounded-corners': !smallScreen()}">
                    <p class="positive">Presented By:</p>
                    <p class="pres-end-header positive" style="line-height:100%">Revu.Me</p> 
                    <p class="positive">If You Like Our Product<br>Just Enter a Password<br>and Click "Sign Up"</p>
                    <form name="forms.signup" >
                      <label class="item item-input padding-bottom"
                             ng-class="{narrow : !smallScreen()}">
                        <span class="input-label">Password</span>
                        <input name="inpPassword"
                               ng-model="forms.signup.password"
                               type="password"
                               required>
                      </label>
                        <button class="button button-balanced"
                            style="margin-top:10px;color:black"
                            ng-click="doSignUp()"
                            ng-disabled="!forms.signup.inpPassword.$dirty">
                        Sign Up
                        </button>
                    <div class="signin-button">
                        <p class="signin-message" ng-click="signupModal.hide()">No Thanks</p>
                    </div>
                    </form>
                </div>

    </ion-content>

</ion-modal-view>