<ion-view view-title="{{name}}" >
    <ion-content class="has-header presentation-background" scroll="false">
        <div class="centered-container slide" elem-size controls=true>
        <div class="row">
            <div class="col col-5">
                <a class="button icon-left ion-chevron-left button-clear button-dark slider-button" 
                   ng-click="prevSlide()"
                   ng-disabled="!prevEnabled"></a>
            </div>
            <div class="col col-90" >
                <ion-slide-box disable-scroll="true"  class="bordered-drop-shadow" show-pager="false">
                    <ion-slide ng-repeat="slide in presentation.slides">

                        <div ng-switch on="slide.type">
                            <div ng-switch-when="img">
                                <img ng-src="{{slide.src}}" class="slide-content" >
                            </div>
                            <div ng-switch-when="video">                            
                                <video class="slide-content" controls="controls" v-source={{slide.src}}  v-follow={{$index}}></video>                      
                             </div>                                     


                        </div>                    
                    </ion-slide>
                </ion-slide-box>
                 <div class="presence-message dark-bg" appear-up="show_message">""</div>
                </div>
            <div class="col col-5 ">
                <a class="button icon-right ion-chevron-right button-clear button-dark slider-button right" 
                   ng-click="nextSlide()"
                   ng-disabled="!nextEnabled"></a>
            </div>
            </div>
        </div>
    </ion-content>
</ion-view>
