<ion-modal-view style="height:150px">
    <ion-content>
        <div style="margin-left:10%">
            <h2 class="positive">Downloading App...</h2>
            <p style="line-height:50px">Your download should start in seconds. If it doesn't, <a class="dark" ng-click="restartDownload()" style="font-weight:600;cursor:pointer"> restart the download.</a></p>
            <hr>
            <p>1. Wait for the app to download</p>
            <p>2. Open/Run the installer app</p>
            <p>3. After the app has installed, <a class="dark" ng-click="startNative()" style="font-weight:600;cursor:pointer">click here</a> to start the screen share</p>
        </div>
    </ion-content>
</ion-modal-view>