<ion-view title="Your Sessions" ng-cloak>
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="revu-list-header volerro-green">
            <button class="button button-icon icon ion-minus-circled revu-list-button revu-left"
                     ng-click="toggleListDelete('org')"></button>
            You're the Organizer
           <p class="sub-title"
               ng-if="smallScreen()">(swipe left to edit)</p>    
            <button class="button button-icon icon ion-plus-circled revu-list-button revu-right"
                    ng-click="sb.new()"></button>
  
        </div>

   <ion-scroll>

  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
       
      <ion-list show-delete="shouldShowDelete" delegate-handle="org" >
          <ion-item class="item-thumbnail-left item-button-right" 
                    ng-repeat="session in orgSessions" 
                    href="#/app/sessions/{{session._id}}">
            <ion-delete-button class="ion-minus-circled" 
                               ng-click="delOrgSession($index)"></ion-delete-button>
              <img ng-src="{{session.decks[0].thumb}}">
              <h2>{{session.name}}</h2>
              <p>{{session.date | date:"MM/dd/yyyy"}} {{session.time | date:"h:mma"}}</p>
              <p>Total Attendees: {{session.attendees.length}}</p>
              <p>First Deck is: {{session.decks[0].name}} of {{session.decks.length}}</p>
              <p>(swipe left to edit)</p> 
              <ion-option-button ng-if="smallScreen()" class="button button-positive" 
                      ng-click="editSession($index); $event.preventDefault(); $event.stopPropogation();">
                  Edit
              </ion-option-button>
              <button ng-if="!smallScreen()" class="button button-positive" 
                      ng-click="editSession($index); $event.preventDefault(); $event.stopPropogation();">
                  Edit
              </button>
          </ion-item>
        </ion-list>
    </ion-scroll> 
  </ion-content>
</ion-view>
                    
                
