<ion-view view-title="{{session.name}}" hide-back-button="false" ng-cloak>
  <ion-nav-back-button>
  </ion-nav-back-button>
    <ion-content class="has-header">
        <div class="list card">
            <div class="item item-divider">
                Meeting Details
            </div>
            <div class="item item-button-right">
                <p><strong>Date:&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160</strong>{{session.date | date:"MM/dd/yyyy"}}</p>  
                <p><strong>Time:&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160</strong>{{session.time | date:"h:mma"}}</p>  
                <p><strong>Organizer:</strong> &#160   
                    {{session.organizer.firstName}} {{session.organizer.lastName}}</p>
                <p ng-if="session.bridge && isMobile"><strong>Dial in: </strong>&#160&#160&#160&#160&#160&#160    <a href="tel:{{session.bridgeNumber}},,,{{session.confId}}#">{{session.bridgeNumber}}</a></p>
                <p ng-if="session.bridge && !isMobile"><strong>Dial in: </strong>&#160&#160&#160&#160&#160&#160    {{session.bridgeNumber}}</p>
                <p><strong>Meeting Id: </strong>&#160{{session.ufId}}</p>
                <button class="button button-balanced"
                        ng-click="startMeeting()"
                        ng-if="!activeMeeting">
                    Start Meeting
                </button>
                <button class="button button-assertive"
                        ng-click="endMeeting()"
                        ng-if="activeMeeting">
                    End Meeting
                </button>
            </div>
            <div class="item item-body">
                {{session.description}}
            </div>
            <div class="item item-checkbox">
                 <label class="checkbox">
                   <input ng-model="session.bridge" type="checkbox">
                 </label>
                 conference bridge
            </div>
            <div class="item item-checkbox"
                 ng-if="!reportDisabled($index)">
                 <label class="checkbox">
                   <input ng-model="session.leaveBehind" type="checkbox"
                          ng-click="setLeaveBehind()">
                 </label>
                 Allow Post Meeting Review
            </div>
            <div class="item item-divider">
                Presentations Decks
            </div>
              <div class="item item-thumbnail-left item-button-right" 
                   ng-repeat="deck in session.decks" >
                  <img ng-src="{{deck.thumb}}">
                  <h2>{{deck.name}}</h2>
                  <p> {{deck.slides.length}} total slides</p>
                    <div class="buttons session-item-button">
                        <button class="button button-positive"
                                ng-click="go(session._id,$index)">
                            Start
                        </button>
                        <button class="button button-positive button-outline" 
                                ng-disabled="!reportsEnabled[$index]" 
                                ng-click="showResults($index)">
                            Report
                        </button>
                  </div>
              </div>
            <div class="item item-divider">
                Attendees
            </div>
            <div class="item" >
                <span><strong>Organizer: </strong>{{session.organizer.firstName}} {{session.organizer.lastName}}</span><br>
                <span ng-repeat="attendee in session.attendees">
                {{attendee.firstName}} {{attendee.lastName}}  e: {{attendee.email}} <br>
                </span>
            </div>



        </div>
        
    </ion-content>
</ion-view>
