<ion-view title="{{titles.organizer}}" ng-cloak>
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="revu-list-header balanced-bg">
            <button ng-if="!archiveOn()" 
                    class="button button-icon icon ion-minus-circled revu-list-button revu-left"
                     ng-click="toggleListDelete('org')"></button>
            You're the Organizer
           <p class="sub-title"
               ng-if="smallScreen()">(swipe left to edit)</p>    
            <button class="button button-icon icon ion-plus-circled revu-list-button revu-right"
                    ng-click="newSession()"
                    ng-if="!archiveOn()">
            </button>
        </div>

   <ion-scroll elem-height="0.80">

  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
       

      <ion-list show-delete="shouldShowDelete" delegate-handle="org" >
          <ion-item class="item-thumbnail-left item-button-right " 
                    ng-repeat="session in orgSessions" 
                    href="#/app/sessions/{{session._id}}">
            <ion-delete-button class="ion-minus-circled" style="color:#ffe900" 
                               ng-click="markArchive($index)">
              </ion-delete-button>
              <img ng-src="{{firesize(session.decks[0].thumb,80,80)}}">
              <h2>{{session.name}}</h2>
              <p>{{session.date | date:"MM/dd/yyyy"}} {{session.time | date:"h:mma"}}</p>
              <p>Total Attendees: {{session.attendees.length}}</p>
              <p>First Deck is: {{session.decks[0].name}} of {{session.decks.length}}</p>
              <p ng-if="smallScreen()">(swipe left to edit)</p> 
              <ion-option-button ng-if="smallScreen()&&!archiveOn()" class="button button-positive" 
                      ng-click="editSession($index); $event.preventDefault(); $event.stopPropogation();">
                  Edit
              </ion-option-button>
              <ion-option-button ng-if="smallScreen()&&archiveOn()" class="button button-energized" 
                      ng-click="markArchive($index); $event.preventDefault(); $event.stopPropogation();">
                  UnArchive
              </ion-option-button>
            <!--
              <ion-option-button ng-if="smallScreen()" class="button button-energized" 
                      ng-click="markArchive($index); $event.preventDefault(); $event.stopPropogation();">
                  {{actions[2].name}}
              </ion-option-button>
              <select ng-if="!smallScreen()"
                      ng-options="action as action.name for action in actions"
                      ng-model="action.selected"
                      ng-change="doAction($index)"
                      style="z-index:500">
              </select>
                -->
              <button ng-if="!smallScreen()&&!archiveOn()" class="button button-positive" 
                      ng-click="editSession($index); $event.preventDefault(); $event.stopPropogation();">
                  Edit
              </button>
              <button ng-if="!smallScreen()&&archiveOn()" class="button button-energized" 
                      ng-click="markArchive($index); $event.preventDefault(); $event.stopPropogation();">
                  UnArchive
              </button>
          </ion-item>
        </ion-list>
    </ion-scroll> 
  </ion-content>
</ion-view>
                    
                
