<div parent-height top=125 ng-controller="sharedContentCtrl">
        <file-box close-on-select="true"></file-box>
        <div ng-show="eva.Data.ready">
            <div class="flow-drop-zone centered-container" 
                 drag-enter="class='flow-drag-enter'" 
                 drag-leave="class='flow-drag-leave'" 
                 evaporate 
                 eva-model="eva.Data"
                 ng-model="eva.Inbox"
                 ng-class="class"
                 ng-if="!device.IOS() && !device.isIPad() && !device.isAndroid() && !device.isWindowsPhone()">
                <p>Drop your file(s) here</p>     
            </div>
            <ion-list ng-if="library.uploading.files.length > 0">
                <ion-item ng-repeat="file in library.uploading.files"
                          class="upload-content"
                          style="min-height:70px"
                          ng-cloak>
                    <ion-spinner icon="ios" class="upload-spinner" ng-if="file.spinner" ></ion-spinner> 
                    <h2>{{file.name}}</h2>
                    <p ng-show="file.timeLeft != 0">{{file.timeLeft}} seconds remaining...</p>
                    <p ng-show="file.message != ''">{{file.message}}</p>
                    <div ng-show="!file.spinner"
                         class="progress-bar" 
                         elem-height="0.01" 
                         ng-style="{'width':file.progressString}">
                    </div>
                </ion-item>
            </ion-list>
        </div>
        <ion-scroll direction="y" parent-height top=250>
            <ion-list style="margin-bottom:56px">
                <ion-item ng-repeat="deck in sb.decks" class="item-thumbnail-left item-button-right" >
                    <img ng-src="{{firesize(deck.thumb,80,80)}}" alt="New" ng-class="{'alt':deck.thumb==undefined}">
                    <h2>{{deck.name}} <span ng-show="deck.added" class="add-color heavy">-Added-</span></h2>
                    <p>{{deck.user.firstName}} {{deck.user.lastName}}</p>
                    <p>{{deck.createdDate | date:"MM/dd/yyyy  h:mma"}}</p>
                    <button class="ion-plus-circled button icon button-icon add-color" 
                            ng-click="step.addDeck($index)"
                            ng-show="!deck.added">
                    </button>
                    <button class="ion-minus-circled button icon button-icon del-color" 
                            ng-click="step.delDeck($index)"
                            ng-show="deck.added">
                    </button>
                </ion-item>
            </ion-list>
        </ion-scroll>
</div>