
<ion-view view-title="Sign Up">
  <ion-content ng-class="{'presentation-background':smallScreen(),'flashy-background':!smallScreen()}">

    <div class="centered-container"  >
    <div class="row row-center">
        <div class="col col-10">
        </div>
    <div class="col col-80 ">
     <!--   <img ng-src="{{image}}" class="splash-image"> -->
        <div ng-class="{'centered-container hero-container positive-bg padding-bottom':smallScreen(),
                       'left-container hero-container positive-bg padding-bottom':!smallScreen()}" >
            <span class="hero-header">Revu.Me</span> 
            <div class="signup-form ">
                <form name="forms.signup" ng-controller="signupCtrl">
                    <div class="list">
                      <label class="item item-input item-floating-label light-bg">
                        <span class="input-label" style="text-align:left">First Name</span>
                        <input name="fName"
                               ng-model="forms.signup.firstName"
                               type="text"
                               placeholder="firstName"
                               required>
                      </label>
      
                      <label class="item item-input item-floating-label light-bg">
                        <span class="input-label" style="text-align:left">Last Name</span>
                        <input name="lName"
                               ng-model="forms.signup.lastName"
                               type="text"
                               placeholder="Lastname"
                               required>
                      </label>
                      <label class="item item-input item-floating-label light-bg">
                        <span class="input-label" style="text-align:left">Email</span>
                        <input name="inpEmail"
                               ng-model="forms.signup.email"
                               type="email"
                               placeholder="Email"
                               required>
                      </label>
                      <label class="item item-input item-floating-label light-bg">
                        <span class="input-label" style="text-align:left">Password</span>
                        <input name="inpPassword"
                               ng-model="forms.signup.password"
                               type="password"
                               placeholder="Password"
                               required>
                      </label>
                    </div>
                    <button class="button "
                            ng-click="doSignUp()"
                            ng-disabled="!forms.signup.fName.$dirty || 
                                         !forms.signup.lName.$dirty || 
                                         !forms.signup.inpPassword.$dirty || 
                                         !forms.signup.inpEmail.$dirty || 
                                         forms.signup.inpEmail.$invalid">
                        Sign Up
                    </button>
                    <div class="signin-button">
                        <p class="signin-message" ng-click="signIn()">Sign In</p>
                    </div>
                    <div>
                        <span ng-if="forms.signup.inpEmail.$dirty && forms.signup.inpEmail.$invalid"
                              class="signin-message">
                            Invalid Email Format
                        </span>
                        <span ng-if="forms.signup.inpPassword.$dirty && forms.signup.inpPassword.$error.required"
                              class="signin-message">
                            Password is Required
                        </span>      
                        <span ng-if="forms.signup.fName.$dirty && forms.signup.fName.$error.required"
                              class="signin-message">
                            First Name is Required
                        </span>  
                            <span ng-if="forms.signup.lName.$dirty && forms.signup.lName.$error.required"
                              class="signin-message">
                            Last Name is Required
                        </span>  
                    </div>

                </form>
            </div>
        </div>

    </div>
        <div class="col col-10">
        </div>    
    </div>
    </div>
  </ion-content>
</ion-view>
