
<ion-view view-title="Sign In">
  <ion-content ng-class="{'dark-bg':isMobile}">

    <div class="centered-container"  >
    <div class="row row-center">
        <div class="col col-10">
        </div>
    <div class="col col-80 ">
     <!--   <img ng-src="{{image}}" class="splash-image"> -->
        <div class="centered-container hero-container positive-bg" elem-height="0.50">
            <span class="hero-header">Revu.Me</span> 
            <p ng-if="message != undefined"
               class="signin-message">{{message}}</p>
            <div class="signup-form">
                <form name="forms.signin" ng-controller="signinCtrl">
                    <div class="list list-inset">
                      <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input ng-model="forms.signup.email"
                               type="email">
                      </label>
                      <div class="input-spacer positive-bg"></div>
                      <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input ng-model="forms.signup.password"
                               type="password">
                      </label>
                    </div>
                    <button class="button "
                            ng-click="doSignIn()">Sign In</button>
                </form>
            </div>
        </div>

    </div>
        <div class="col col-10">
        </div>    
    </div>
    </div>
  </ion-content>
</ion-view>
