
<ion-scroll elem-height="0.90" 
            overflow-scroll="true">
    <div ng-repeat="slide in slides" 
         class="thumbnail" 
         ng-class="{'thumb-selected':tap.on && tap.index==$index}"
         ng-cloak>
        <div ng-switch on="slide.type"  >
            <div ng-switch-when="img" >
                <div style="position:relative" >
                    <i class="icon ion-close-circled slide-deleter" 
                       ng-show="statesReady && isEditing && slide.included && !slide.available"
                       ng-click="deleteSlide($index)"
                       ng-cloak></i>
                    <i class="icon ion-checkmark-round slide-included" 
                       ng-show="slide.included && slide.available"></i>
                    <i class="icon ion-plus-circled slide-adder" 
                       ng-show="statesReady && isEditing && slide.available " 
                       ng-click="addSlide($index)"
                       ng-cloak></i>
                    <img resize-width="{{slide.src}}"  
                         style="width:100%" 
                         class="rounded-corners shadow white-background"
                         ng-click="tapThumb($index)">
                </div>
            </div>
            <div ng-switch-when="video" > 
                <div style="position:relative" >
                    <i class="icon ion-close-circled slide-deleter" 
                       ng-show="statesReady && isEditing && slide.included && !slide.available"
                       ng-click="deleteSlide($index)"
                       ng-cloak></i>
                    <i class="icon ion-checkmark-round slide-included" 
                       ng-show="slide.included && slide.available"></i>
                    <i class="icon ion-plus-circled slide-adder" 
                       ng-show="statesReady && isEditing && slide.available "  
                       ng-click="addSlide($index)"
                       ng-cloak></i>
<!--
                    <i class="icon ion-play slide-play-video" 
                       ng-show="!slide.playing"  
                       ng-click="playVideo($index)">
                    </i>

                    <video ng-show="slide.playing"
                           class="rounded-corners shadow video-thumbnail"
                           controls=true
                           ng-click="tapThumb($index)"
                           v-source={{slide.src}} auto-play="slide.playing">
                    </video> 
-->
                    <video id="vid-slide" 
                           class="rounded-corners shadow "
                           poster="https://dw69ofzd8w57f.cloudfront.net/transparant.png"
                           v-source={{slide.src}}
                           v-background-image={{slide.poster}}
                           controls=true
                           ng-click="tapThumb($index)"
                    > 
                    </video> 
<!--
                    <img ng-show="!slide.playing"
                         ng-src="{{slide.poster}}"  
                         style="width:100%" class="rounded-corners shadow"
                         ng-click="tapThumb($index)">
-->
                </div>
            </div>
        </div>
    </div>
</ion-scroll>


