<ion-view view-title="{{presentation.name}}">
    <ion-content class="has-header presentation-background" scroll="false" id="slideshow" fullscreen>
        <div class="centered-container slide" elem-size controls=true host=false>
        <div class="row">
            <div class="col col-5">
                <a class="button icon-left ion-chevron-left button-clear button-dark slider-button" 
                   ng-click="previousClicked();$event.preventDefault(); $event.stopPropagation();"
                   ng-disabled="!prevEnabled"></a>
            </div>
            <div class="col col-90" >
                <ion-slide-box ng-repeat="box in slideBoxes"
                               ng-if="box.idx == slideBoxIdx"
                               disable-scroll="false"  
                               class="bordered-drop-shadow"
                               show-pager="false"
                               active-slide=boxCurrent
                               delegate-handle="{{box.handle}}"
                               ng-cloak>
                    <ion-slide ng-repeat="slide in box.slides"
                               ng-init="$last ? slidesDone() : null"
                               ng-cloak>
                        <div ng-switch on="slide.type">
                            <div ng-switch-when="img">
                                <ion-scroll direction="xy" 
                                                    scrollbar-x="false" 
                                                    scrollbar-y="false"
                                                    zooming="true" 
                                                    min-zoom="1.0" 
                                                    style="width: 100%; height: 100%"
                                                    delegate-handle="scrollHandle{{$index}}" 
                                                    on-scroll="updateSlideStatus(boxCurrent)" 
                                                    on-release="updateSlideStatus(boxCurrent)">
                                <img ng-src="{{slide.src}}" class="slide-content"
                                     on-swipe-left="nextClicked()"
                                     on-swipe-right="previousClicked()">
                                </ion-scroll>
                            </div>
                            <div ng-switch-when="video">                            
                                <video class="slide-content" controls="controls" v-source={{slide.src}}  
                                       on-swipe-left="nextClicked()"
                                       on-swipe-right="previousClicked()"></video>                      
                             </div>                                     
                        </div>                    
                    </ion-slide>
                </ion-slide-box>
                </div>
            <div class="col col-5 ">
                <a class="button icon-right ion-chevron-right button-clear button-dark slider-button right" 
                   ng-click="nextClicked();$event.preventDefault(); $event.stopPropagation();"
                   ng-disabled="!nextEnabled"></a>
            </div>
            </div>
        </div>
    </ion-content>
</ion-view>