
<ion-view view-title="Revu.Me Demo">
  <ion-content ng-class="{'dark-bg':isMobile}">

    <div class="centered-container"  >
    <div class="row row-center">
        <div class="col col-10">
        </div>
    <div class="col col-80 ">
     <!--   <img ng-src="{{image}}" class="splash-image"> -->
        <div class="centered-container hero-container positive-bg" elem-height="0.50">
              <h3 class="hero-welcome">Welcome {{user.name}} </h3> 
        <span class="hero" flash-weight="Revu.Me:Ready">Revu.me</span>
        </div>
    </div>
        <div class="col col-10">
        </div>    
    </div>
    <div class="row row-center">
        <div class="col col-10">
        </div>
        <div class="col col-80">
            <div class="centered-container user_list">
            
          <ion-list>
              <div class="item item-divider">
                Users Online
              </div>
              <ion-item class="item-icon-left" ng-repeat="user in users"
                        ng-click="login()">
                  <i class="icon ion-android-contact avatar_icon"></i>
                <h2 ng-if="user.name != 'undefined undefined'">{{user.name}}</h2>
              </ion-item>
          </ion-list>    
            </div>
        </div>
        <div class="col col-10">
        </div>        
    </div>
    </div>
  </ion-content>
</ion-view>
