  <ion-modal-view ng-controller="summaryCtrl">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Review &amp; Confirm</h1>
        <div class="buttons">
          <button class="button button-clear button-light"
                  ng-click="cancel()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content class="ionic-modal-hack">
        <div class="revu-list-header positive-bg">
            <button class="button button-icon icon ion-minus-circled revu-list-button revu-left"
                    ng-click="toggleListDelete()">
            </button>
                Add or Remove Decks
            <button class="button button-icon icon ion-plus-circled revu-list-button revu-right"
                    ng-click="showDecks()">
            </button>
        </div> 
        <form name="session.inputForm">
            <ion-list show-delete="session.shouldShowDelete">
              <ion-item ng-repeat="deck in session.decks" 
                        class="item item-thumbnail-left">
                <ion-delete-button class="ion-minus-circled" 
                               ng-click="delDeck($index)"></ion-delete-button>
                <img class=thumb-small ng-src="{{deck.thumb}}" alt="New" class="alt">
                <h2>{{deck.name}}</h2>
                    <p>{{deck.user.firstName}} {{deck.user.lastName}}</p>
                    <p>{{deck.createdDate | date:"MM/dd/yyyy  h:mma"}}</p>
              </ion-item>
            </ion-list>
              <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="session.name" placeholder="Meeting Name" required>
              </label>
              <label class="item item-input">
                <span class="input-label">Description</span>
                <input type="text" ng-model="session.description" placeholder="Description">
              </label>
              <label class="item item-input" ng-if="screenSize().width<=900">
                <span class="input-label">Date</span>
<ionic-datepicker input-obj="datepickerObject">
  <button class="button button-clear button-positive" style="min-height:30px;line-height:30px;color:black"> {{datepickerObject.inputDate | date:'MM/dd/yyyy'}}</button>
</ionic-datepicker>
              </label>
              <div class="row" ng-if="screenSize().width<=900">
                <div class="col col-50">
                  <label class="item item-input">
                    <span class="input-label">Time</span>
<ionic-timepicker input-obj="timePickerObject">
  <button class="button button-clear button-positive overflowShow" 
          style="min-height:30px;line-height:30px;color:black;font-weight:normal">
    <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
  </button>
</ionic-timepicker>
                  </label>
                </div>
                <div class="col col-50">
                  <label class="item item-input">
                    <span class="input-label">length</span>
                    <select ng-model="session.length">
                        <option ng-repeat="l in session.lengthOptions">{{l}}</option>
                    </select>
                  </label>    
                </div>
             </div>
              <div class="row" ng-if="screenSize().width>900">
                <div class="col col-33">
                    <label class="item item-input" >
                        <span class="input-label">Date</span>
<ionic-datepicker input-obj="datepickerObject">
  <button class="button button-clear button-positive" style="min-height:30px;line-height:30px;color:black"> {{datepickerObject.inputDate | date:'MM/dd/yyyy'}}</button>
</ionic-datepicker>
                    </label>
                </div>
                <div class="col col-33">
                  <label class="item item-input">
                    <span class="input-label">Time</span>
<ionic-timepicker input-obj="timePickerObject">
  <button class="button button-clear button-positive overflowShow" 
          style="min-height:30px;line-height:30px;color:black;font-weight:normal">
    <standard-time-meridian etime='timePickerObject.inputEpochTime'></standard-time-meridian>
  </button>
</ionic-timepicker>
                  </label>
                </div>
                <div class="col col-33">
                  <label class="item item-input">
                    <span class="input-label">Length</span>
                    <select ng-model="session.length">
                        <option ng-repeat="l in session.lengthOptions">{{l}}</option>
                    </select>
                  </label>    
                </div>
             </div>
            <div class="list">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                      <input type="text" name="aName" 
                                user-complete
                                field-type='name'
                                instance-name='session'
                            ng-model="session.formname" placeholder="Attendee Name">
                    </label>
                    <label class="item-input-wrapper">
                      <input type="email" name="aEmail" 
                                user-complete
                                field-type='email'
                                instance-name='session'
                             ng-model="session.formemail" placeholder="Attendee Email">
                    </label>
                    <button class="button button-small"
                            ng-click="addAttendee()" 
                            ng-disabled="!session.inputForm.aName.$dirty || !session.inputForm.aEmail.$dirty 
                                         || session.inputForm.aEmail.$invalid">
                      add
                    </button>
                </div>
                <div class="item item-divider item-button-right">
                    Attendees
                    <button class="button button-small button-positive divider-button two-buttons "
                            ng-click="session.showTeams=!session.showTeams"
                            style="right:100px !important;">Add Teams</button>
                    <button class="button button-small button-positive divider-button"
                            ng-click="showSalesforce();"
                            ng-controller="sfdcCtrl">Salesforce</button>
                </div> 
                <div class="item item-button-right"
                     ng-if="session.showTeams && session.teamList.length > 0"
                     style="padding:0px">
                      <label class="item-input">
                        <span class="input-label"
                              style="width:20%">Teams</span>
                        <select ng-model="session.team" ng-options="t.name for t in session.teamList">
                        </select>
                      </label> 
                        <button class="button button-small shove-right"
                                ng-click="addTeam()" 
                                style="font-size:14px">
                          add
                        </button>
                </div>
                    <div class="list">
                        <div ng-repeat="attendee in session.attendees" class="item item-icon-left" >
                            <i class="icon ion-minus-circled " style="font-size:95%" ng-click="delAttendee($index)">
                            <p class="padding-left">{{session.attendees[$index].name}}     {{session.attendees[$index].email}}</p>         
                            </i>

                        </div>
                    </div>
                    <div class="item item-checkbox">
                         <label class="checkbox">
                           <input ng-model="session.bridge" type="checkbox">
                         </label>
                         conference bridge
                    </div>
                </div>
            </form>
      
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <div class="centered-container">
         <button class="button button-calm" ng-click="confirm()" 
                 ng-disabled="session.inputForm.$invalid || wizardStep.valid != true ">
            OK
        </button>
        <button class="button padding-left button-assertive" 
                ng-click="cancel()">
            Cancel
        </button>   
        <div class="centered-container" style="padding-bottom:30px">
            <p ng-show="session.inputForm.sName.$invalid">Session Name is Required</p>
            <p ng-show="session.inputForm.date.$invalid">Session Date is Required</p>
            <p ng-show="session.inputForm.time.$invalid">Session Time is Required</p>            
        </div>
      </div>
    </ion-footer-bar>
  </ion-modal-view>
