<ion-view title="{{teamName}}" ng-cloak>
  <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
      <button class="button button-balanced"
              ng-disabled="teamForm.teamName.$invalid || (addTeam.members.length == 0) || !_$Save"
              ng-click="modalCallback()">
            Save
      </button>
  </ion-nav-buttons>
<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
    </div>
    <ion-content class="has-header">
 <form name="forms.teamForm">
                <label class="item item-input">
                  <span class="input-label">Team Name</span>
                  <input name="teamName" type="text" ng-model="addTeam.name" required>
                </label>
                  <div class="list">
                    <div class="item item-toggle">
                        Comma Delimited Input
                        <label class="toggle toggle-positive">
                           <input type="checkbox" ng-model="commaDelimited">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                        </label>
                    </div>
                    <div ng-show="!commaDelimited">
                        <div class="item item-input-inset">
                            <label class="item-input-wrapper">
                              <input type="text" name="mName" 
                                     ng-model="addTeam.nameString" 
                                     placeholder="Member Name" 
                                     user-complete
                                     field-type='name'
                                     instance-name='team'>
                            </label>                            
                            <label class="item-input-wrapper">
                              <input type="email" name="mEmail" 
                                     ng-model="addTeam.emailString" placeholder="Member Email"
                                     user-complete
                                     field-type='email'
                                     instance-name='team'>
                            </label>
                            <button class="button button-small"
                                    ng-click="addMember()" 
                                    ng-disabled="teamForm.mEmail.$invalid || teamForm.mName.$invalid || !_$AddMember">
                              add
                            </button>
                        </div>
                    </div>
                    <div ng-show="commaDelimited">
                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Add Members:(pattern:first,last,email;)</span>
                        <textarea class="team-textarea"
                                  name="members" 
                                  ng-model="addTeam.memberString"
                                  style="width:97%"
                                  elem-height="0.185"
                                  wrap="hard">
                        </textarea>   
                    </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="revu-list-header positive-bg">
            <button class="button button-icon icon ion-minus-circled revu-list-button revu-left"
                     ng-click="toggleListDelete('member')"
                     ng-disabled="!_$DeleteMember"></button>
            Members
        </div>

    <ion-scroll elem-height="0.80">

        <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
        </ion-refresher>
       
        <ion-list show-delete="shouldShowDelete" delegate-handle="member" >
          <ion-item ng-repeat="member in addTeam.members">
            <ion-delete-button class="ion-minus-circled" 
                               ng-click="delMember($index)"></ion-delete-button>
              <div class="item item-input item-select" style="border-style:none">
                  <div class="input label" >
                  <h2>{{member.firstName}} {{member.lastName}}</h2>
                  <p>email: {{member.email}}</p>
                  </div>
                    <select ng-model="member.role" 
                      ng-options="permission.name for permission in permissions" 
                      ng-disabled="!_$ChangeRole"
                      ng-change="setDirty()">
                    </select>  
              </div> 

          </ion-item>
        </ion-list>
        
    </ion-scroll> 
        
  </ion-content>
</ion-view>
                    
                
