<ion-modal-view>
    <ion-header-bar class="bar-calm"> <h1 class="title"> Introductory Tour </h1> 
    <div class="buttons">
      <button class="button button-clear button-light" 
              ng-click="cancelTour">Close</button>
    </div>
    </ion-header-bar> 
    <ion-content> 
        <div class="centered-container hero-container positive-bg" style="margin-top:20px" elem-height="0.50">
              <h3 class="hero-welcome">Welcome</h3> 
              <span class="hero" >Revu.me</span>
        </div>

    </ion-content>
    <ion-footer-bar>
        <div class="centered-container">
          <button class="button button-assertive" ng-click="cancelTour()">
              Exit
          </button>
          <button class="button button-stable" ng-click="previousStep()">
              Previous
          </button>
          <button class="button button-positive"
                  ng-click="nextStep">
              Next
          </button>
        </div>
    </ion-footer-bar>
</ion-modal-view>