<ion-view view-title="{{name}}" >
    <ion-nav-buttons side="right">
        <button class="button icon ion-ios-telephone" ng-click="bridgeService.showBridgeInfo()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header presentation-background" scroll="false">
        <div class="centered-container slide" elem-size controls=false>
<!--            <div class="row">
                <div class="col col-10">
                </div>

                <div class="col col-80" >
-->
                        <ion-slide-box disable-scroll="true"  class="bordered-drop-shadow" show-pager="false">
                            <ion-slide ng-repeat="slide in presentation.slides">

                                <div ng-switch on="slide.type">
                                    <div ng-switch-when="img">
                                        <img ng-src="{{slide.src}}" class="slide-content" >
                                    </div>
                                    <div ng-switch-when="video">                            
                                        <video class="slide-content" controls="controls" v-source={{slide.src}}  v-follow={{$index}}></video>                      
                                     </div>                                     
                                    
                                    
                                </div>                    
                            </ion-slide>
                        </ion-slide-box>

                     <div class="presence-message dark-bg" appear-up="show_message">""</div>
                    </div>
<!--                </div>

                <div class="col col-10 ">
                </div>  
-->
            </div>
        </div>
    </ion-content>
</ion-view>
